[user]
	name = Harold Rodriguez
	email = harold@planetharold.com
[credential]
	helper = osxkeychain
[alias]
    ahh = "merge --abort"
    amend = "!f() { git commit --amend --no-edit; }; f"
    amendall = "!f() { git add -A; git commit --amend --no-edit; }; f"
    b = branch
    bubble = "!f(){ git co development;git merge harold;git co staging;git merge dev;git co master;git merge staging;git co harold; };f"
    c = !clear
    ci = commit
    co = checkout
    d = diff -w --word-diff --color-words
    g = grep -I
    ksdiff = difftool -y -t Kaleidoscope
    lg = log --oneline --decorate --graph --no-merges
    lgall = log --oneline --decorate --graph --no-merges --all
    lgplain = log --pretty=format:%h%x09%an%x09%ad%x09%s --date=short --no-merges
    myh = log --pretty=format:%h%x09%an%x09%ad%x09%s --date=short --author=Harold
    pokemodules = "submodule foreach --recursive git fetch"
    rb = rbranch
    rv = review
    s = status
    w = diff -w --word-diff --color-words platform/apps/src
    #w = diff -w --word-diff --color-words src
[color "diff"]
	ui = true
    frag = magenta bold
    meta = yellow bold
    #new = green bold
    new = white bold black reverse
    #old = red bold
    old = red bold
    whitespace = blue reverse
[color "branch"]
  current = yellow reverse
  local = yellow
  remote = green
[color "status"]
  added = green
  changed = yellow
  untracked = cyan
[push]
	default = matching
[core]
	pager = less -r
    autocrlf = input
    whitespace = fix,space-before-tab,tab-in-indent,trailing-space
    excludesfile = ~/.gitignore_global
[merge]
	conflictstyle = diff3
	ff = false

[apply]
    whitespace = fix
[branch "master"]
    remote = origin
    merge = refs/heads/master
[merge]
    log = true
[difftool "Kaleidoscope"]
    cmd = ksdiff-wrapper git \"$LOCAL\" \"$REMOTE\"
[rerere]
    enabled = 1
[url "git@github.com:"]
    insteadOf = "gh:"
    pushInsteadOf = "github:"
    pushInsteadOf = "git://github.com/"
[url "git://github.com/"]
    insteadOf = "github:"
[url "git@gist.github.com:"]
    insteadOf = "gst:"
    pushInsteadOf = "gist:"
    pushInsteadOf = "git://gist.github.com/"
[url "git://gist.github.com/"]
    insteadOf = "gist:"
[url "git@heroku.com:"]
    insteadOf = "heroku:"

